## Library Import

In [5]:
import pandas as pd 
import numpy as np 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score

## Load Data

In [6]:
iris_data = pd.read_csv('iris.csv')
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

### Convert Species to LabelEncoder

In [17]:
from sklearn.preprocessing import LabelEncoder

In [18]:
le = LabelEncoder()
iris_data['Species'] = le.fit_transform(iris_data['Species'])

In [19]:
iris_data.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        0
1   2            4.9           3.0            1.4           0.2        0
2   3            4.7           3.2            1.3           0.2        0
3   4            4.6           3.1            1.5           0.2        0
4   5            5.0           3.6            1.4           0.2        0

In [20]:
x = iris_data.drop(columns=['Species','Id'])

In [21]:
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [22]:
y = iris_data['Species']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: Species, dtype: int32

### Train and Test Data Split

In [23]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [24]:
x_train.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
22            4.6           3.6            1.0           0.2
15            5.7           4.4            1.5           0.4
65            6.7           3.1            4.4           1.4
11            4.8           3.4            1.6           0.2
42            4.4           3.2            1.3           0.2

In [25]:
y_train.head()

22    0
15    0
65    1
11    0
42    0
Name: Species, dtype: int32

### - LinearRegression Model Train

In [28]:
model = LinearRegression()
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
y_pred_continous = np.round(y_pred).astype(int)

### Accuracy Score

In [29]:
accuracy = accuracy_score(y_test,y_pred_continous)
print(f"Accuracy Score : {accuracy}")

Accuracy Score : 1.0

In [31]:
import pickle

In [32]:
with open("iris_dataset.pkl","wb") as f:
    pickle.dump(model,f)